body, html {
	padding:0;
	margin:0;
}

#map{
	width: 100%;
	height: 100%;
}

.legend {
	padding: 8px 8px;
	font: 1rem Helvetica, Arial, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.7);
	/*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
	border-radius: 15px;
	line-height: 24px;
	color: #666;
	backdrop-filter: blur(2px);
}
.legend h4 {
	text-align: center;
	font-size: 1rem;
	margin: 2px 12px 8px;
	color: #767;
}

.legend span {
	position: relative;
	bottom: 3px;
}

.legend i {
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 10px 0 0;
	opacity: 0.7;
}


@media screen and (max-width:650px){
	div.leaflet-control-attribution {
		font-size:0.5rem !important;
	}
	.legend h4 {
		margin: 0;
	}
	.legend span {
		font-size: 0.9rem;
	}
}

@media screen and (max-width:450px){	
	.legend span, .legend h4 {
		font-size: 0.75rem;
	}
}